* {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

.column {
    margin: 0.8em auto;
}

main {
    display: flex;
    flex-flow: column;
}

textarea {
    --line-height-value: 1.4em;
    resize: none;
    overflow: hidden;
    line-height: var(--line-height-value);
    width: 28em;
    min-height: calc(var(--line-height-value) * 4);
    max-width: 88vw;
}

p {
    font-weight: bold;
}